<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= form_with model: @project, local: true, html: { class: "needs-validation", novalidate: true } do |f| %>
      <legend>Create a new project</legend>
      
      <div class="form-group">
        <%= f.label :name  %>
        <%= f.text_field :name, class: "form-control", required: true %>
        <%= render "new_form_validations" %>
      </div>
      
      <div class="form-group">
        <%= f.submit "Create", class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('turbolinks:load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>