<h1>Show project page</h1>

<%= @project.name %>

<h2>Bugs</h2>
<%= link_to "Report Bug", new_project_bug_path(@project), class: "btn btn-primary" %>

<ul>
  <% @project.bugs.each do |bug| %>
    <li>
      <%= bug.description %>
      <%= link_to "Edit", edit_project_bug_path(@project, bug) %>
      <%= link_to "Delete", project_bug_path(@project, bug),
                            method: :delete,
                            id: "delete-bug-#{bug.id}" %>
    </li>
  <% end %>
</ul>