<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1 class="top-page-title" align="center"><%= @project.name %></h1>
    
    <h2>Description</h2>
    <p class="project-description">
      <%= @project.description %>
    </p>
    <%= project_ownership(@project) %>
    
    <!-- Team -->
    <div class="row no-gutters align-items-center justify-content-between">
      <h2 class="col-4">Team</h2>
      
      <!-- Only project owner can see the Add user button -->
      <% if current_user.id == @project.user_id %>
        <%= link_to "Add user", new_project_team_membership_path(@project),
                                class: "btn btn-primary" %>
      <% end %>
    </div>
    
    <div id="project-team-list">
      <p>
        These users have access to this project: <br/>
        (They can report bugs and comment)
      </p>
        <ul class="list-group" id="team-user-list">
          <%= render partial: "team_memberships/team_member", 
                     collection: @project.team_memberships, 
                     as: :membership,
                     locals: { project: @project } %>
        </ul>
    </div>
        
    <!-- Bugs -->
    <div class="row no-gutters align-items-center justify-content-between">
      <h2 class="col-4">Bugs</h2>
      <%= link_to "Report Bug", new_project_bug_path(@project), class: "btn btn-primary" %>
    </div>
    
    <p class="bugs-instructions">Click on a bug for more infos.</p>
    
    <% if !@project.bugs.empty? %>
      <h4 class="solved-status-title">Unsolved</h4>
      
      <div id="accordion">
        <%= render partial: "bugs/bug", collection: @project_unsolved_bugs, as: :bug,
                                        locals: { project: @project, comment: @comment } %>
      </div>
      
      <h4 id="solved-bugs-title" class="solved-status-title">Solved</h4>
      
      <div id="accordion">
        <%= render partial: "bugs/bug", collection: @project_solved_bugs, as: :bug,
                                        locals: { project: @project, comment: @comment } %>
      </div>
    <% end %>
  </div>
</div>