<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1 class="top-page-title" align="center"><%= @project.name %></h1>
    
    <h2>Description</h2>
    <p class="project-description">
      <%= @project.description %> <br/><br/>
      <%= project_ownership(@project) %>
    </p>
    
    <div class="row no-gutters align-items-center justify-content-between">
      <h2 class="col-4">Team</h2>
      
      <!-- Only project owner can see the Add user button -->
      <% if current_user.id == @project.user_id %>
        <%= link_to "Add user", new_project_team_membership_path(@project),
                                class: "btn btn-primary" %>
      <% end %>
    </div>
    
    <div id="project-team-list">
      <p>
        These users have access to this project: <br/>
        (They can report bugs and comment)
      </p>
        <ul class="list-group" id="team-user-list">
          
          
          <% @project.team_memberships.each do |membership| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= membership.user.username %> - <%= membership.user.email %>
              
              <!-- Only project owner can see the remove user button -->
              <% if current_user.id == @project.user_id %>
                <%= link_to "remove", project_team_membership_path(@project, membership),
                                      class: "btn btn-sm btn-danger", 
                                      method: :delete,
                                      confirm: "Are you sure?" %>
              <% end %>
            </li>
          <% end %>
        </ul>
    </div>
        
    
    <div class="row no-gutters align-items-center justify-content-between">
      <h2 class="col-4">Bugs</h2>
      <%= link_to "Report Bug", new_project_bug_path(@project), class: "btn btn-primary" %>
    </div>
    
    <h4 class="solved-status-title">Unsolved: </h4>
    
    <% @project_unsolved_bugs.each do |bug| %>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="heading<%= bug.id %>">
            <h5 class="mb-0 bug-card-title">
              <button class="btn btn-link collapse-button" data-toggle="collapse" data-target="#collapse<%= bug.id %>" aria-expanded="true" aria-controls="collapse<%= bug.id %>">
                <%= bug.name %> --- solved_status: <%= bug.solved %>
              </button>
            </h5>
            <% if current_user.id == @project.user_id || current_user.id == bug.user_id %>
              <span class="bug-card-actions">
                <% if bug.solved? %> 
                  <%= link_to "Mark as unsolved",
                              update_bug_solved_status_path(bug),
                              method: :patch,
                              id: "update-bug-solved-#{bug.id}",
                              class: "btn-sm btn-warning" %>
                <% else %> 
                  <%= link_to "Mark as solved",
                              update_bug_solved_status_path(bug),
                              method: :patch,
                              id: "update-bug-solved-#{bug.id}",
                              class: "btn-sm btn-success" %>
                <% end %>
              
                <%= link_to "Edit", edit_project_bug_path(@project, bug),
                                    class: "btn-sm btn-info" %>
                <%= link_to "Delete", project_bug_path(@project, bug),
                                      method: :delete,
                                      id: "delete-bug-#{bug.id}",
                                      class: "btn-sm btn-danger", 
                                      data: { confirm: "Are you sure?" } %>
              </span>
            <% end %>
          </div>
      
          <div id="collapse<%= bug.id %>" class="collapse" aria-labelledby="heading<%= bug.id %>" data-parent="#accordion">
            <div class="card-body bug-card-body">
              <h5>Description:</h5>
              
              <p class="bug-description">
                <%= bug.description %>
                <br />
                -- reported by: <%= bug.user.username %>
              </p>
              
              
              <h5 class="comments-title">Comments:</h5>
              
              <div class="bug-comments" id="bug-<%= bug.id %>-comments">
                <!-- Uses partial _comment -->
                <%= render bug.comments %>
              </div>
              
              <div class="comment-form-box">
                <%= form_with model: @comment do |f| %>
                  <h5>Add a comment</h5>
                  
                  <div class="form-group">
                    <%= f.label :content, class: "d-none" %>
                    <%= f.text_area :content, class: "form-control",
                                              id: "bug-#{bug.id}-comment-content",
                                              required: true,
                                              placeholder: "Type your comment here" %>
                  </div>
                  
                  <%= f.hidden_field :bug_id, value: bug.id %>
                  <%= f.hidden_field :project_id, value: @project.id %>
                  
                  <div class="form-group">
                    <%= f.submit "Comment", class: "btn btn-success float-right comment-button" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    
    <h4 id="solved-bugs-title" class="solved-status-title">Solved</h4>
    <% @project_solved_bugs.each do |bug| %>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="heading<%= bug.id %>">
            <h5 class="mb-0 bug-card-title">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= bug.id %>" aria-expanded="true" aria-controls="collapse<%= bug.id %>">
                <%= bug.name %> --- solved_status: <%= bug.solved %>
              </button>
            </h5>
            <% if current_user.id == @project.user_id || current_user.id == bug.user_id %>                                    
              <span class="bug-card-actions">
                <% if bug.solved? %> 
                  <%= link_to "Mark as unsolved",
                              update_bug_solved_status_path(bug),
                              method: :patch,
                              id: "update-bug-solved-#{bug.id}",
                              class: "btn-sm btn-warning" %>
                <% else %> 
                  <%= link_to "Mark as solved",
                              update_bug_solved_status_path(bug),
                              method: :patch,
                              id: "update-bug-solved-#{bug.id}",
                              class: "btn-sm btn-success" %>
                <% end %>
              
                <%= link_to "Edit", edit_project_bug_path(@project, bug),
                                    class: "btn-sm btn-info" %>
                                  
                <%= link_to "Delete", project_bug_path(@project, bug),
                                      method: :delete,
                                      id: "delete-bug-#{bug.id}",
                                      class: "btn-sm btn-danger", 
                                      data: { confirm: "Are you sure?" } %>
              </span>
            <% end %>
          </div>
      
          <div id="collapse<%= bug.id %>" class="collapse" aria-labelledby="heading<%= bug.id %>" data-parent="#accordion">
            <div class="card-body bug-card-body">
              <h5>Description:</h5>
              
              <p class="bug-description">
                <%= bug.description %>
                <br />
                -- reported by: <%= bug.user.username %>
              </p>
              
              <h5 class="comments-title">Comments:</h5>
              
              <div class="bug-comments" id="bug-<%= bug.id %>-comments">
                <!-- Uses partial _comment -->
                <%= render bug.comments %>
              </div>
              
              <div class="comment-form-box">
                <%= form_with model: @comment do |f| %>
                  <h5>Add a comment</h5>
                  
                  <div class="form-group">
                    <%= f.label :content, class: "d-none" %>
                    <%= f.text_area :content, class: "form-control",
                                              id: "bug-#{bug.id}-comment-content",
                                              required: true,
                                              placeholder: "Type your comment here" %>
                  </div>
                  
                  <%= f.hidden_field :bug_id, value: bug.id %>
                  <%= f.hidden_field :project_id, value: @project.id %>
                  
                  <div class="form-group">
                    <%= f.submit "Comment", class: "btn btn-success float-right comment-button" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>