<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1 class="top-page-title" align="center"><%= @project.name %></h1>
    
    <h2>Description</h2>
    <p class="project-description"><%= @project.description %></p>
    
    <div class="row no-gutters align-items-center justify-content-between">
      <h2 class="col-4">Bugs</h2>
      <%= link_to "Report Bug", new_project_bug_path(@project), class: "btn btn-primary" %>
    </div>
    
    <% @project_bugs.each do |bug| %>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="heading<%= bug.id %>">
            <h5 class="mb-0 bug-card-title">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= bug.id %>" aria-expanded="true" aria-controls="collapse<%= bug.id %>">
                <%= bug.name %> --- solved_status: <%= bug.solved %>
              </button>
            </h5>
            <span class="bug-card-actions">
              <% if bug.solved? %> 
                <%= link_to "Mark as unsolved",
                            update_bug_solved_status_path(bug),
                            method: :patch,
                            id: "update-bug-solved-#{bug.id}",
                            class: "btn-sm btn-warning" %>
              <% else %> 
                <%= link_to "Mark as solved",
                            update_bug_solved_status_path(bug),
                            method: :patch,
                            id: "update-bug-solved-#{bug.id}",
                            class: "btn-sm btn-success" %>
              <% end %>
              
                                    
              <%= link_to "Edit", edit_project_bug_path(@project, bug),
                                  class: "btn-sm btn-info" %>
                                  
              <%= link_to "Delete", project_bug_path(@project, bug),
                                    method: :delete,
                                    id: "delete-bug-#{bug.id}",
                                    class: "btn-sm btn-danger", 
                                    data: { confirm: "Are you sure?" } %>
            </span>
          </div>
      
          <div id="collapse<%= bug.id %>" class="collapse" aria-labelledby="heading<%= bug.id %>" data-parent="#accordion">
            <div class="card-body bug-card-body">
              <h5>Description:</h5>
              
              <p class="bug-description">
                <%= bug.description %>
              </p>
              
              <h5 class="comments-title">Comments:</h5>
              
              <div class="bug-comments">
                <% bug.comments.each do |comment| %>
                  <div class="bug-solo-comment">
                    <p class="bug-comment-body"><%= comment.content %></p>
                    <span class="comment-signature">-- By user name XX time ago.</span>
                  </div>
                <% end %>
              
              </div> <!-- bug-comments -->
              
              <div class="comment-form-box">
                <%= form_with model: @comment do |f| %>
                  <h5>Add a comment</h5>
                  
                  <div class="form-group">
                    <%= f.label :content, class: "d-none" %>
                    <%= f.text_area :content, class: "form-control",
                                              id: "bug-#{bug.id}-comment-content",
                                              required: true,
                                              placeholder: "Type your comment here" %>
                  </div>
                  
                  <%= f.hidden_field :bug_id, value: bug.id %>
                  <%= f.hidden_field :project_id, value: @project.id %>
                  
                  <div class="form-group">
                    <%= f.submit "Comment", class: "btn btn-success float-right" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
